{% load i18n fb_versions %}
<input id="{{ final_attrs.id }}" type="text" name="{{ final_attrs.name }}" value="{{ value.path }}"/>&nbsp;

<button id="open_fb_{{ final_attrs.id }}" type="button" class="btn btn-info">
  <i class="icon-white icon-search glyphicon glyphicon-folder-open"></i>
</button >
<button id="clear_fb_{{ final_attrs.id }}" type="button" class="btn btn-info">
  <i class="icon-white icon-remove glyphicon glyphicon-remove"></i>
</button>
<br/><br/>
{% if value.filetype == "Image" %}
  <div class="row">
        <div class="col-xs-6">
            <img id="croparea_{{ final_attrs.id }}" src="{{ value.url }}" />
        </div>
  </div>
{% else %}
  <div class="row">
        <div class="col-xs-6">
            <img id="croparea_{{ final_attrs.id }}" src="" />
        </div>
  </div>
{% endif %}
{% if value and not value.exists %}
  <ul class="errorlist">
    <li>{% trans "File not found" %}</li>
  </ul>
{% endif %}

<script>
  var href = '{% url "fb_browse" %}?pop=1{% if final_attrs.directory %}&amp;dir={{ final_attrs.directory|urlencode|urlencode }}{% endif %}{% if final_attrs.format %}&amp;type={{ final_attrs.format }}{% endif %}';

  $(document).on("ready", function () {
    var fbEl = $("#{{ final_attrs.id }}").ImageCropFileBrowser({
      fbHref: href,
      mediaUrl: "{{ final_attrs.MEDIA_URL }}",
      imageCropArea: $("#croparea_{{ final_attrs.id }}"),
      imageCropCoordField: $("#{{ final_attrs.id }}_crop")
    });

    $("#open_fb_{{ final_attrs.id }}").on("click", function() {
      fbEl.ImageCropFileBrowser("show");
    });

    $("#clear_fb_{{ final_attrs.id }}").on("click", function() {
      fbEl.ImageCropFileBrowser("clear");
    });
  });
</script>