{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list admin_urls %}
{% load fb_tags %}
{% load url from future %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ settings_var.URL_FILEBROWSER_MEDIA }}css/suit-filebrowser.css" />
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="../../jsi18n/"></script>
    <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
    <script type="text/javascript" src="{{ settings_var.URL_FILEBROWSER_MEDIA }}js/FB_FileBrowseField.js"></script>
    <script type="text/javascript" src="{{ settings_var.URL_FILEBROWSER_MEDIA }}js/fileuploader.js"></script>

    <script type="text/javascript">

        (function($){
        $(document).ready(function() {
            var uploader = new qq.FileUploader({
                element: $('#file-uploader').get(0),
                action: '{% url 'fb_do_upload' %}',

                template: '<div class="qq-uploader">' +
                    '<div class="qq-upload-drop-area"><span>{% trans "Drop files here to upload" %}</span></div>' +
                    '<div class="qq-upload-button">{% trans "Upload a file" %}</div>' +
                    '<ul class="qq-upload-list"></ul>' +
                '</div>',
                
                fileTemplate: '<li class="qq-upload-list-item">' +
                    //'<button class="btn btn-success btn-select" onclick="FileSubmit(\'{url_save}\', \'{url_thumbnail}\', \'{filetype}\');">{% trans "Select" %}</button>'+
                    '<span class="qq-upload-file"></span>' +
                    '<span class="qq-upload-spinner"></span>' +
                    '<span class="qq-upload-size"></span>' +
                    '<a class="qq-upload-cancel" href="#">{% trans "Cancel" %}</a>' +
                    '<div class="progress-bar"><div class="content"></div></div>' +
                    '<span class="qq-upload-failed-text">{% trans "Failed" %}</span>' +
                '</li>',

                params: { 'csrf_token': '{{ csrf_token }}',
                          'csrf_name': 'csrfmiddlewaretoken',
                          'csrf_xname': 'X-CSRFToken',
                          'folder': '{{ query.dir|escapejs }}', },

                sizeLimit: {{ settings_var.MAX_UPLOAD_SIZE }},
                minSizeLimit: 0,
                debug: false,
                // messages
                messages: {
                    typeError: "{% trans "{file} has invalid extension. Only {extensions} are allowed." %}",
                    sizeError: "{% trans "{file} is too large, maximum file size is {sizeLimit}." %}",
                    minSizeError: "{% trans "{file} is too small, minimum file size is {minSizeLimit}." %}",
                    emptyError: "{% trans "{file} is empty, please select files again without it." %}",
                    onLeave: "{% trans "The files are being uploaded, if you leave now the upload will be cancelled." %}"
                },

                getItem: function(id) {
                    var items = $(this.element).find('.qq-upload-list li').get();
                    var item = items.pop();

                    while (typeof item != "undefined") {
                        if (item.qqFileId == id) {
                            return $(item);
                        }
                        item = items.pop();
                    }
                },
                onProgress: function(id, fileName, loaded, total){
                    var bar = this.getItem(id).find('.progress-bar .content');
                    var new_width = '' + (loaded/total * 100) + '%';
                    bar.css('width', new_width);
                },
                onComplete: function(id, fileName, resp){
                    // if (resp.success) {
                    //     this.getItem(id).fadeOut('slow');
                    // }
                    var dom = this.getItem(id),
                        errorElement = dom.find('.qq-upload-failed-text');
                        
                        
                    if (!resp.success) {
                        // put the message in the failure text.
                        if (resp.message)
                            errorElement.html(resp.message);
                    }
                },
                showMessage: function(message){ alert(message); }
            });
            
        // Custom override for Django Media Manager -- emulates the server-side implementation.
        uploader._addToList = function(id, fileName){
            var lowerCaseFilename = fileName.replace(/\-/g, '_').replace(/_+/g, '_').toLowerCase();
            var url_save = '{{base_directory}}{{ query.dir|escapejs }}/' + lowerCaseFilename;
            var ext = lowerCaseFilename.substr(lowerCaseFilename.lastIndexOf('.'));
            var basename = lowerCaseFilename.substr(0, lowerCaseFilename.lastIndexOf('.'));
            var url_thumbnail = '{{settings_var.MEDIA_URL}}{{base_directory}}{{ query.dir|escapejs }}/' + basename + '_fb_thumb' + ext;
            var filetype = 'File';
            switch(ext) {
                case '.jpg':
                case '.jpeg':
                case '.png':
                case '.gif':
                case '.bmp':
                case '.webp':
                    filetype = 'Image';
                    break;
                case '.txt':
                case '.pdf':
                    filetype = 'Document';
                    break;
                case '.mp4':
                case '.webm':
                case '.ogv':
                    filetype = 'Video';
                    break;
                case '.mp3':
                case '.m4a':
                case '.aac':
                case '.wav':
                case '.ogg':
                    filetype = 'Audio';
                    break;
            }
            var parsedTemplate = this._options.fileTemplate.replace(/{url_save}/g, url_save).replace(/{url_thumbnail}/g, url_thumbnail).replace(/{filetype}/g, filetype);
            var item = qq.toElement(parsedTemplate);                
            item.qqFileId = id;
    
            var fileElement = this._find(item, 'file');        
            qq.setText(fileElement, this._formatFileName(fileName));
            this._find(item, 'size').style.display = 'none';
    
            this._listElement.appendChild(item);
        }
        });
    })(jQuery.noConflict());
    </script>
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}change-form{% endblock %}

{% block breadcrumbs %}
    {% include "suit/include/breadcrumbs.html" %}
{% endblock %}

{% block content %}
    <div id="content-main" class="inner-two-columns">
        <form class="form-horizontal" method='post' action="{% url 'fb_browse' %}{% query_string '' 'p' %}">
            {% csrf_token %}
            <div class="inner-right-column">
                <div class="box save-box">
                    <div class="submit-row clearfix">
                        <input type="submit" value="{% trans 'Back' %}" class="btn btn-high btn-info" />
                        {# <input type="submit" value="{% trans 'Select' %}" class="btn btn-high btn-success" /> #}
                        <input type="button" value="{% trans 'Clear Queue' %}" class="btn btn-high btn-info" name="clear"/>
                    </div>
                </div>
            </div>
            <div class="inner-center-column">
                <div class="tab-content tab-content-main">
                    <fieldset class="module aligned">
                        <div class="control-group">
                            <div class="">
                                <label class="required" for="id_file">{% trans "Select a file." %}</label>
                            </div>
                            <div class="controls">
                                {# <input type="File" id="id_file" class="btn btn-info"/> #}
                                <div class="grp-row" id="file-uploader">
                                    <noscript>
                                        {% trans "Please enable Javascript to upload files." %}
                                    </noscript>
                                </div>
                                {% for extension in settings_var.EXTENSIONS.items %}
                                <span class="help-block">

                                        {% ifnotequal extension.0 'Folder' %}
                                            <strong>{% if forloop.first %}{% trans "Allowed" %}:{% else %}&nbsp;{% endif %}</strong>
                                            <p>{{ extension.0|safe }} ({{ extension.1|join:", "|safe }})</p>
                                        {% endifnotequal %}

                                </span>
                                {% endfor %}
                                <br>
                                <span class="help-block">
                                    <strong>{% trans "Max. Filesize" %}:</strong>
                                    <p>{{ settings_var.MAX_UPLOAD_SIZE|filesizeformat }}</p>
                                </span>
                                {% if settings_var.CONVERT_FILENAME %}
                                    <br>
                                    <span class="help-block">
                                        <strong>{% trans "The Name will be converted to lowercase. Spaces will be replaced with underscores." %}</strong>
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
{% endblock %}